<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="/">dirEngine.</a>
        </div>
    </nav>

    <div class="forgot-password-page" style="margin-top: 10%;">
        <div class="form">
            <h2 class="forgot-password-text">Forgot Password</h2>
            <form class="forgot-password-form">
                <input id='emailForgot' type="email" placeholder="Enter your email" required />
                <button type="button" id="sendButton">Send</button>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
    <script type="module" src="/js/js2/index.js"></script>

</body>

</html>