<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">dirEngine.</a>
        </div>
    </nav>

    <div class="reset-password-page">
        <div class="form">
            <h2 class="reset-password-text">Reset Password</h2>
            <form class="reset-password-form">
                <input id='newPassword' type="password" placeholder="New Password" minlength="8" required />
                <input id='confirmPassword' type="password" placeholder="Confirm Password" minlength="8" required />
                <button type="button" id="resetButton">Reset Password</button>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
    <script type="module" src="/js/js2/index.js"></script>
</body>

</html>